# 1st `#1` Table: `objects`

In [2]:
import numpy as np
import pandas as pd

pd.options.display.max_columns = 50
pd.options.display.max_colwidth = 200

df1 = pd.read_csv('01_2_objects_cleaned.csv', encoding = 'utf-8', low_memory = False)

#df1 #(overview of the table)
df1.shape

(81868, 15)

In [4]:
# -------- CHECK objectID ----------
#df1[ df1["objectID"] == 215380]
df1[ df1["objectID"] == 32572]

,objectID,title,displayDate,beginYear,endYear,timeSpan,medium,dimensions,attributionInverted,attribution,classification,parentID,portfolio,series,volume
81867,32572,American Flamingo,1838,1838.0,1838.0,1826 to 1850,hand-colored engraving and aquatint on Whatman wove paper,image: 87.63 × 58.58 cm (34 1/2 × 23 1/16 in.)\r\nplate: 97 x 65 cm (38 3/16 x 25 9/16 in.)\r\nsheet: 101.3 x 68.3 cm (39 7/8 x 26 7/8 in.),"Havell, Robert after John James Audubon",Robert Havell after John James Audubon,print,NaN,The Birds of America: Plate CCCCXXXI,The Birds of America: Plate CCCCXXXI,NaN

https://aws.amazon.com/premiumsupport/knowledge-center/users-connect-rds-iam/

# 2nd `#6` Table: `constituents`

Columns:
* `'constituentID', 'preferredDisplayName', 'forwardDisplayName','lastName', 'displayDate', 'beginYear', 'endYear','visualBrowserTimeSpan', 'visualBrowserNationality'`

In [57]:
df6 = pd.read_csv('08_1_constituents_cleaned.csv', encoding = 'utf-8', low_memory = False)

#df6 #(overview of the table)
df6.shape
#df6.columns

(9941, 9)

In [48]:
df6["visualBrowserNationality"].unique()

array(['Other', 'British', 'American', 'Dutch', 'German', 'Italian',
       'French', 'Swiss', 'Netherlandish', 'Russian', 'Spanish',
       'Flemish', 'Austrian', 'Scottish', 'English', 'Mexican', 'Belgian',
       'Swedish', 'Japanese', 'Canadian', 'Czech', 'Bohemian', 'Danish',
       'Chinese', 'Norwegian', '\u206eItalian', 'italian'], dtype=object)

In [61]:
df6[ df6["lastName"] == "Audubon"]

,constituentID,preferredDisplayName,forwardDisplayName,lastName,displayDate,beginYear,endYear,visualBrowserTimeSpan,visualBrowserNationality
16,122,"Audubon, John James",John James Audubon,Audubon,"American, 1785 - 1851",1785.0,1851.0,1776 to 1800,American
17,128,"Audubon, John Woodhouse",John Woodhouse Audubon,Audubon,"American, 1812 - 1862",1812.0,1862.0,1801 to 1825,American

# 3rd `#7` Table: `objects_images`

https://dev.mysql.com/doc/refman/8.0/en/rename-table.html

In [10]:
df7 = pd.read_csv('07_1_objects_images_cleaned.csv', encoding = 'utf-8', low_memory = False)

df7.nunique()

uuid         81937
objectID     81868
URL          81937
thumbURL     81937
width         7743
height        7892
maxpixels        1
dtype: int64

# 4th `#6` Table: `objects_constituents`

In [13]:
df6 = pd.read_csv('06_1_objects_constituents_cleaned.csv', encoding = 'utf-8', low_memory = False)
df6.shape # 103256 pairs of objectID-constituentID
#df6.nunique() #81867 objectIDs x 9943 constituentIDs

(103053, 5)

# 5th `#3` Table: `objects_associations`

In [14]:
df3 = pd.read_csv('03_1_objects_associations_cleaned.csv', encoding = 'utf-8', low_memory = False)
df3.shape # parent-child associations
#df3.nunique() #81867 objectIDs x 9943 constituentIDs

(915, 3)

# 6th  `#2` Table: `objects_terms`

* colums: `'termID', 'objectID', 'termType', 'term', 'visualBrowserTheme'`
* termType: `'Place Executed', 'School', 'Technique', 'Style', 'Theme','Keyword', 'Systematic Catalogue Volume'`

#### termType = `Style
* `'Baroque', 'Impressionist', 'Romantic', 'Minimalist', 'Rococo', 'Renaissance', 'Realist', 'Post-Impressionist', 'Cubist','Abstract Expressionist', 'German Expressionist','Pennsylvania German', 'Spanish Southwest', 'Abstraction','Japonisme', 'Orientalist', 'Symbolist', 'Surrealist', 'Academic','Naive', 'Commemorative', 'Galena', 'Rockingham', 'Moravian', 'Benningtonware', 'Hepplewhite', 'Queen Anne', 'Jacobean','Georgian', 'Transitional William and Mary/Queen Anne','Chippendale', 'Windsor', 'Sheraton', 'Transitional Queen Anne/Chippendale', 'Transitional Dutch/Queen Anne', 'William And Mary','Windsor/Sheraton', 'Directoire', 'Hitchcock', 'German Colonial','German', 'Norse', 'Alsatian Colonial', 'Spanish Colonial','Colonial', 'French Acadian', 'Pioneer', 'Bishop Hill', 'Empire','Dutch', 'French', 'Victorian', 'Federal', 'Biedermeier', 'Shaker','Neoclassic', 'Pop', 'Art Nouveau', 'Fauve', 'Gothic', 'Modernist','Post-Minimalist', 'Napoleonic', 'Mission', 'Hepplewhite/Sheraton','Qing', 'Provincial', 'Purist', 'Conceptual Art', 'Precisionist','Austrian Expressionist', 'Staffordshire', 'Eastlake','Norse Colonial', 'Futurist', 'Neo-Impressionist', 'Tonalist', 'Southwest', 'Quaker', 'Sheraton/Empire', 'Louis XV/Sheraton','Zoar'`

In [49]:
df2 = pd.read_csv('02_1_objects_terms_cleaned.csv', encoding = 'utf-8', low_memory = False)
df2.shape # parent-child associations
#df2.nunique() #81867 objectIDs x 9943 constituentIDs
#df2["termType"].unique()
df2.columns

Index(['termID', 'objectID', 'termType', 'term', 'visualBrowserTheme'], dtype='object')

In [53]:
# df2[df2["termType"] == "Style"]["term"].unique()
# df2[df2["termType"] == "School"]["term"].unique()
df2[df2["termType"] == "Technique"]["term"].unique()

array(['painted surface', 'punched design', 'etching', 'graphite',
       'drypoint', 'aquatint', 'spitbite', 'sugarlift', 'woodcut',
       'photo-etching', 'collage', 'screenprint', 'lithograph',
       'embossed', 'engraving', 'liftground', 'roulette', 'scratched',
       'carved', 'scraping', 'hardground', 'monoprint', 'monotype',
       'zincograph', 'mezzotint', 'die-cut', 'offset', 'wood engraving',
       'collagraph', 'counterproof', 'paper relief', 'reduction',
       'pasted', 'writing', 'decal', 'flatbite', 'sewn', 'lithotint',
       'torn', 'paste print', 'pastel', 'photorelief', 'monoprint inking',
       'gillotype', 'fumée', 'sand ground', 'typeset', 'power burin',
       'crayon', 'molded paper', 'line-cut', 'debossed', 'photo-media',
       'cancelled plate', 'ink', 'à la poupée', 'chalk', 'wash',
       'sandpaper ground', 'salt-lift', 'cutout', 'pinpricked',
       'dark-manner', 'cut', 'grisaille', 'stumping', 'letter press',
       'transfer', 'stain', 'photo-engraving', 'embroidered',
       'needlepoint', 'quilted', 'pieced', 'ink-transfer', 'watercolor',
       'needlework', 'typing', 'photomechanical process', 'appliqué',
       'direct gravure', 'stipple', 'silkscreen', 'cliche-verre',
       'electrotype', 'foul bite', 'chiaroscuro', 'pochoir', 'polished',
       'carborundum', 'photolithograph', 'photo-screenprint', 'inkless',
       'touched proof', 'colored pencil', 'stencil',
       'crayon-manner engraving', 'heliorelief', 'airbrush', 'burnishing',
       'photograph', 'incised (indented with stylus)', 'stamped',
       'softground', 'pricked for transfer', 'chiaroscuro (drawing)',
       'felt-tip pen', 'mixed technique', 'linocut', 'photo-offset',
       'halftone', 'gilded', 'intaglio', 'relief', 'scorched',
       'chromolithograph', 'niello print', 'photogravure', 'heliogravure',
       'collotype', 'soapground', 'open bite', 'gelatin silver print',
       'relief etching', 'cellocut', 'punctured', 'woodblock',
       'transferred', 'digital print', 'tusche', 'pricked', 'scorper',
       'metalcut', 'salt print', 'paper', 'painted under the surface',
       'raised design (layered)', 'woven', 'assemblage', 'waxtype',
       'stone', 'glyptograph', 'fabricated',
       'aquatint (reversal process)', 'Xerography',
       'wash-manner engraving', 'inkjet print', 'reduction linocut',
       'waterbite', 'smearing', 'false bite', 'sulphur tint', 'cast',
       'brocade', 'felt', 'offset printing', 'burnt', 'plexiglass relief',
       'encaustic', 'gypsograph', 'erasure', 'frottage', 'smoked'],
      dtype=object)

In [62]:
df2[df2["objectID"] == 32572]

        termID  objectID   termType       term visualBrowserTheme
74730  2034787     32572  Technique  engraving                NaN
81745  2034601     32572  Technique   aquatint                NaN
87995  2034525     32572     School   American                NaN

# 7th  `#4` Table: `objects_dimensions`

In [22]:
df4 = pd.read_csv('04_1_objects_dimensions_cleaned.csv', encoding = 'utf-8', low_memory = False)
df4.shape # 113726 dimensions
#df4.nunique() #
df4

        objectID dimensionType   dimension     unitName
0              0        height   62.200000  centimeters
1              0         width   34.800000  centimeters
2              1        height  224.800000  centimeters
3              1         width   77.000000  centimeters
4              2        height  197.000000  centimeters
...          ...           ...         ...          ...
113721    222965         width   31.500000  centimeters
113722     32452        height   89.535179  centimeters
113723     32452         width   60.007620  centimeters
113724     32572        height   87.630175  centimeters
113725     32572         width   58.578867  centimeters

[113726 rows x 4 columns]

# 8th  `#5` Table: `objects_text_entries`

* 5 `textTypes: `'bibliography', 'exhibition_history', 'inscription_footnote','exhibition_history_footnote', 'documentary_labels_inscriptions'`

In [46]:
df5 = pd.read_csv('05_1_objects_text_entries_cleaned.csv', encoding = 'utf-8', low_memory = False)
df5.shape # 136672 text_entries
#df5["textType"].unique()

df5[df5["textType"] == "bibliography"] # 95197 bibliography
df5[df5["textType"] == "exhibition_history"] # 41345 exhibition_history
#df5[df5["textType"] == "inscription_footnote"] # <50 --> 0 inscription_footnote
#df5[df5["textType"] == "exhibition_history_footnote"] # <50 --> 0 exhibition_history_footnote
# df5[df5["textType"] == "documentary_labels_inscriptions"] # 71 --> 0 documentary_labels_inscriptions

,objectID,text,textType,year
95197,0,"Berenson and the Connoisseurship of Italian Painting, National Gallery of Art, Washington, D.C., 1979, no. 81.",exhibition_history,1979.0
95198,0,"Fiftieth Anniversary Exhibition, The Metropolitan Museum of Art, New York, 1920, unnumbered catalogue.",exhibition_history,1920.0
95199,0,"Loan Exhibition of Important Early Italian Paintings in the Possession of Notable American Collectors, Duveen Brothers, New York, 1924, no. 2, as by Giovanni Cimabue (no. 1 in illustrated 1926 ver...",exhibition_history,1924.0
95200,0,"Exposition de L'Art Italien de Cimabue à Tiepolo, Petit Palais, Paris, 1935, no. 110.",exhibition_history,1935.0
95201,0,La fortuna dei primitivi: Tesori d’arte dalle collezioni italiane fra Sette e Ottocento [The Fortunes of the Primitives: Artistic Treasures from Italian Collections between the Eighteenth and Nine...,exhibition_history,2014.0
...,...,...,...,...
136537,222965,"Medieval to Modern: Recent Acquisitions of Drawings, Prints, and Illustrated Books, National Gallery of Art, Washington, 2008, no. 134 b.",exhibition_history,2008.0
136538,32452,"Audubon's Dream Realized: Selections from ""The Birds of America"". The National Gallery of Art, Washington, 2005.",exhibition_history,2005.0
136539,32452,"Three Centuries of American Prints: from the National Gallery of Art, National Gallery of Art, Washington; National Gallery in Prague, Prague 1; Antiguo Colegio de San Ildefonso, Mexico City; Dall...",exhibition_history,2016.0
136540,32572,"Audubon's Dream Realized: Selections from ""The Birds of America"". The National Gallery of Art, Washington, 2005.",exhibition_history,2005.0
136541,32572,"Three Centuries of American Prints: from the National Gallery of Art, National Gallery of Art, Washington; National Gallery in Prague, Prague 1; Antiguo Colegio de San Ildefonso, Mexico City; Dall...",exhibition_history,2016.0